<html>
  <head>
    <title>{{name}}</title>
    <style>
      body {
      background-color: wheat;
      text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 style="border-bottom-style: solid;">{{name}}</h1>
    <p>
      Age: {{age}}<br>
      Sex: {{sex}}<br>
      Title: {{title}}<br>
    </p>
  </body>
</html>

    
