<html>
  <head>
    <title>Database</title>
    <style>
      body {
      background-color: wheat;
      text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 style="border-bottom-style: solid">Workers</h1>
    {% if worker_list %}
    {% for Worker in worker_list %}
    <a href="/worker/{{Worker.Worker_ID}}">{{Worker.Worker_name}}</a><br>
    {% endfor %}
    {% else %}
    <p>No workers</p>
    {% endif %}
    <h1 style="border-bottom-style: solid;">Employers</h1>
    {% if employer_list %}
    {% for Employer in employer_list %}
    <a href="employer/{{Employer.Employer_ID}}">{{Employer.Employer_name}}</a><br>
    {% endfor %}
    {% else %}
    <p>No employers</p>
    {% endif %}
    <!-- By Raccoondude -->
  </body>
</html>
