<html>
  <head>
    <title>{{name}}</title>
    <style>
      body {
      background-color: wheat;
      text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 style="border-bottom-style: solid;">{{name}}</h1>
    <p>
      Age: {{age}}<br>
      Sex: {{sex}}<br>
      Pay: {{pay}}<br>
      Employer: <a href="/employer/{{employer.Employer_ID}}">{{employer.Employer_name}}</a>
    </p>
  </body>
</html>

